<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
    <main>
        <% if(json) { %>
            <h1>Go</h1>
            <div id="map" style="min-width: 40vw; max-height: 90vh; margin-top: 2em; margin-right: 2em; position: relative;"></div>
            <% json.steps.forEach(function (step, i) { %>
                <section>
                    <h2 id="<%= i + 1 %>">Step <%= i + 1 %></h2>
                    <ul class="steps">
                        <li><%= step.direction %></li>
                        <li><%= step.distance %></li>
                    </ul>
                </section>
            <% }) %>
            <a href="<%= nextRoute %>">Finish</a>
            <ul>
                <li>
                    <a href="/start">Home</a>
                </li>
                <% json.steps.forEach(function (step, i) { %>
                <li>
                    <a href="#<%= i + 1 %>" class="current"><%= i + 1 %></a>
                </li>
                <% }) %>
                <li>
                    <a href="<%= nextRoute %>">Finish</a>
                </li>
            </ul>
        <% } %>
    </main>
    <script src="../../../../../../mapbox.js"></script>
</body>
</html>