<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>
    <main>
        <% if(json) { %>
            <section>
                <h1>Start</h1>
                <p>Leave your home and go on a adventure</p>
                <a href="<%= nextRoute %>">Step 1</a>
            </section>
            <ul>
                <li>
                    <a href="/start" class="current">Start</a>
                </li>
                <% json.steps.forEach(function (step, i) { %>
                    <li>
                        <a href="<%= nextRoute %>#<%= i + 1 %>" class="current"><%= i + 1 %></a>
                    </li>
                <% }) %>
                <li>
                    <a href="<%= finishRoute %>">Finish</a>
                </li>
            </ul>
        <% } %>
    </main>
</body>
</html>