<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>
    <main>
        <h1>
            Choose your form of transport
        </h1>
        <% if(name !== 'undefined' && lat !== 'undefined' && lng !== 'undefined') { %>
            <form
                action="/start/car?name=<%= name %>&lat=<%= lat %>&lng=<%= lng %>"
                method="POST"
                enctype="application/x-www-form-urlencoded"
            >
                <button type="submit">
                    Car
                </button>
            </form>
            <form
                action="/start/walking?name=<%= name %>&lat=<%= lat %>&lng=<%= lng %>"
                method="POST"
                enctype="application/x-www-form-urlencoded"
            >
                <button type="submit">
                    Walking
                </button>
            </form>
        <% } else { %>
            <form
                action="/start/car"
                method="POST"
                enctype="application/x-www-form-urlencoded"
            >
                <button type="submit">
                    Car
                </button>
            </form>
            <form
                action="/start/walking"
                method="POST"
                enctype="application/x-www-form-urlencoded"
            >
                <button type="submit">
                    Walking
                </button>
            </form>
        <% } %>
    </main>
</body>
</html>